<!DOCTYPE html>
<html lang="en">

<head>

    <?php include 'head.html'; ?> 

    <title>Contact</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/subpages.css">
</head>

<body>
    
    <section id="first-page">
        <div class="wrapper">
            <div class="content">
                <header>
                    <?php include 'navbar.html'; ?>
                </header>
            <div class="cont">   
                <img src="static/img/SCS logo.png" class="logo-top" alt="logo">
                <h1>Get your free consultation</h1>
            </div>
        </div>
    </section>
    <section id="form">
        <?php include 'form.html'; ?>
    </section>


    <?php include 'gallery.html'; ?>

    <?php include 'footer.html'; ?>
</body>