<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SCS - Concept & Design</title>
    <meta name="description" content="Asia hospitality consultants">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/subpages.css">
</head>
<body>
    <section id="first-page">
        <div class="wrapper">
                <div class="content">
                <header>
                    <script src="../static/navbar.js"></script>
                </header>
                <div class="cont">   
                    <img src="../img/SCS logo.png" class="logo-top" alt="logo">
                    <h1>Concept & Design</h1>
                </div>
                </div>
        </div>
    </section>
    <section class="detail" id="detail_sales">
            <div class="grid-box">
                <div class="card h-100 card-odd">
                    <div class="card-body card-body-odd">
                        <img src="../img/rect843.png" class="card-img-top" alt="...">
                        <h2>Concept</h2>
                        <p>Concept phase is the phase where you decide which services will be implemented, how and by whom, and finally what standards are you going to put in place.</p>
                        <p>It might apply to the whole property or to departments of it, such as F&amp;B, Spa, Leisure, etc&hellip;</p>
                        <p>Concepts have to be inline with the property&#39;s level and fit in a global idea of the project.</p>
                    </div>
                </div>
                <div class="card h-100 card-even">
                    <div class="card-body">
                        <img src="../img/rect843.png" class="card-img-top" alt="...">
                        <h2>Design</h2>
                        <p>The purpose of the design phase is to match the construction with the services provided. It is a deep study of the workflows and environment in order to achieve the best customer&#39;s experience. </p>
                        <p>It can be focused on decoration, construction, or a resetting of the floor plan to reach a smooth operation, adding value to your product.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        

    <script src="../static/gallery.js"></script>


<script src="../static/footer.js"></script>

</body>
</html>
