
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SCS - Consulting</title>
    <meta name="description" content="Asia hospitality consultants">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/subpages.css">
</head>
	
<body>

    <header>
        <script src="../static/navbar.js"></script>
    </header>

    <section class="detail">
        <img src="../img/SCS logo.png" class="logo-top" alt="logo">

        <div class="row" id="email-sent">    
            <div class="col-6 position-relative start-50 translate-middle-x">
                <div class="card h-100 card-odd">
                    <div class="card-body">
                        <img src="../img/rect843.png" class="card-img-top" alt="...">
                        <h2>Thank you</h2>
                        <p>Your email has been sent to cambodia.admin@successconsultingasia.com</p>
                        <p>We will contact you very soon</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <script src="../static/footer.js"></script>

</body>