{% load static %}

    <section class="pictures-section" id="pictures-section">
    
        <div class="grid_pictures">
            <div class="pics" id="pic-1"><img src="{% static 'img/robert-collins-QyqVAt9xw2I-unsplash.webp' %}" alt="Robert Collins photo"></div>
            <div class="pics" id="pic-2"><img src="{% static 'img/resized_steffen-b-qDZ-Xd8dX6w-unsplash.webp' %}" alt="Stephen B photo"></div>
            <div class="pics" id="pic-3"><img src="{% static 'img/resized_the-anam-_twiIcIsp2s-unsplash.webp' %}" alt="Annam Hoi An photo"></div>
            <div class="pics" id="pic-4"><img src="{% static 'img/resized_sara-dubler-Koei_7yYtIo-unsplash.webp' %}" alt="Sarah Dubler Ngo photo"></div>
            <div class="pics" id="pic-5"><img src="{% static 'img/vicky-t-EY3tC81nFt0-unsplash.webp' %}" alt="Vicky T photo"></div>
            <div class="pics" id="pic-6"><img src="{% static 'img/resized_alexander-kaunas-G6eXUCi8JgA-unsplash.webp' %}" alt="Alexander Kaunas photo"></div>
            <div class="pics" id="pic-7"><img src="{% static 'img/resized_brooke-lark-kXQ3J7_2fpc-unsplash.webp' %}" alt="Brooke Lark photo"></div>
            <div class="pics" id="pic-8"><img src="{% static 'img/resized_charlie-costello-YVMINsxTIKY-unsplash.webp' %}" alt="Charlie Costello photo"></div>
            <div class="pics" id="pic-9"><img src="{% static 'img/resized_christian-lambert-diYY2TMBY5g-unsplash.webp' %}" alt="Christian Lambert photo"></div>
            <div class="pics" id="pic-10"><img src="{% static 'img/resized_dave-photoz-Ksrmm0EHdgw-unsplash.webp' %}" alt="Dave Photoz photo"></div>
            <div class="pics" id="pic-11"><img src="{% static 'img/resized_jess-torre-H7TGM7Sx0o4-unsplash.webp' %}" alt="Jess Torre photo"></div>
            <div class="pics" id="pic-12"><img src="{% static 'img/resized_rhema-kallianpur-uocSnWMhnAs-unsplash.webp' %}" alt="Rhema Kallianpur photo"></div>
            <div class="pics-s" id="pic-2-1"><img src="{% static 'img/img-small/resized_robert-collins-QyqVAt9xw2I-unsplash.webp' %}" alt="Robert Collins photo"></div>
            <div class="pics-s" id="pic-2-2"><img src="{% static 'img/img-small/resized_resized_steffen-b-qDZ-Xd8dX6w-unsplash.webp' %}" alt="Stephen B photo"></div>
            <div class="pics-s" id="pic-2-3"><img src="{% static 'img/img-small/resized_resized_the-anam-_twiIcIsp2s-unsplash.webp' %}" alt="Annam Hoi An photo"></div>
            <div class="pics-s" id="pic-2-4"><img src="{% static 'img/img-small/resized_resized_sara-dubler-Koei_7yYtIo-unsplash.webp' %}" alt="Sarah Dubler Ngo photo"></div>
            <div class="pics-s" id="pic-2-5"><img src="{% static 'img/img-small/resized_vicky-t-EY3tC81nFt0-unsplash.webp' %}" alt="Vicky T photo"></div>
            <div class="pics-s" id="pic-2-6"><img src="{% static 'img/img-small/resized_resized_alexander-kaunas-G6eXUCi8JgA-unsplash.webp' %}" alt="Alexander Kaunas photo"></div>
            <div class="pics-s" id="pic-2-7"><img src="{% static 'img/img-small/resized_resized_brooke-lark-kXQ3J7_2fpc-unsplash.webp' %}" alt="Brooke Lark photo"></div>
            <div class="pics-s" id="pic-2-8"><img src="{% static 'img/img-small/resized_resized_charlie-costello-YVMINsxTIKY-unsplash.webp' %}" alt="Charlie Costello photo"></div>
            <div class="pics-s" id="pic-2-9"><img src="{% static 'img/img-small/resized_resized_christian-lambert-diYY2TMBY5g-unsplash.webp' %}" alt="Christian Lambert photo"></div>
            <div class="pics-s" id="pic-2-10"><img src="{% static 'img/img-small/resized_resized_dave-photoz-Ksrmm0EHdgw-unsplash.webp' %}" alt="Dave Photoz photo"></div>
            <div class="pics-s" id="pic-2-11"><img src="{% static 'img/img-small/resized_resized_jess-torre-H7TGM7Sx0o4-unsplash.webp' %}" alt="Jess Torre photo"></div>
            <div class="pics-s" id="pic-2-12"><img src="{% static 'img/img-small/resized_resized_rhema-kallianpur-uocSnWMhnAs-unsplash.webp' %}" alt="Rhema Kallianpur photo"></div>
    
        </div>
    
    </section>
