<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SCS - Human Ressources</title>
    <meta name="description" content="Asia hospitality consultants">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/subpages.css">
</head>
<body>
    <section id="first-page">
        <div class="wrapper">
                <div class="content">
                <header>
                    <script src="../static/navbar.js"></script>
                </header>
                <div class="cont">   
                    <img src="../img/SCS logo.png" class="logo-top" alt="logo">
                    <h1>Human Ressources</h1>
                </div>
                </div>
        </div>
    </section>
    <section class="detail" id="detail_sales">
            <div class="grid-box">
                <div class="card h-100 card-odd">
                    <div class="card-body card-body-even">
                        <img src="../img/rect843.png" class="card-img-top" alt="...">
                        <h2>Headcount</h2>
                        <p>The right number of employees at the right place at the right time has always been a headache in an industry where you barely know in advance how many customers will show.</p>
                        <p>There&#39;s a way to limit this headache, we have this knowledge and will happily work that out for you.</p>
                    </div>
                </div>
                <div class="card h-100 card-even">
                    <div class="card-body">
                        <img src="../img/rect843.png" class="card-img-top" alt="...">
                        <h2>Salary grid</h2>
                        <p>Salary grid is the document which defines how much every level of staff should be paid compared to the upper and lower levels. Employees salaries is something very sensitive. To avoid to create tensions among them (which would always reflect to the customer in the end), a salary grid which makes sense is the perfect tool. Once an employee reaches the highest possible salary at his level, it would be time to consider him/her for a promotion.</p>
                    </div>
                </div>
            </div>
            <div class="grid-double">
                <div class="card h-100 card-even" style="width: 60em">
                    <div class="card-body card-body-odd">
                        <img src="../img/rect843.png" class="card-img-top" alt="...">
                        <h2>Training</h2>
                        <p>Training is one of the most important part of the daily job of a hotelier. Making sure that every employee knows the procedures and standards, so that they feel confident enough when they&#39;re in front of customers. </p>
                        <p>New employees should have in hands an <strong><em>&ldquo;Employee Welcome Pack&rdquo;</em></strong> explaining to him the company he works for, what are the expectations and requirements to work in this company. Moreover, a proper training time should be implemented for new employees to learn what is it that they are going to do, and how to do it properly. </p>
                        <p>Every training topic must be documented, which means it&#39;s not only delivering a training verbally, it means providing employees a document where they can find all the details they need to later refer to it. One copy goes to GM and owner as such as they can follow up and monitor the progress of their employees.</p>
                        <p>Training must not come out of nowhere, it must be implemented as per company standards and procedure, an evaluation should be regularly conducted to measure how well the company is doing in term of employee&#39;s knowledge. The company can then decide in which fields training must be intensified.</p>
                    </div>
                </div>
            </div>
            <div class="loner">
                <div class="card h-100 card-odd">
                    <div class="card-body">
                        <img src="../img/rect843.png" class="card-img-top" alt="...">
                        <h2>Evaluation forms</h2>
                        <p>As everything which implies changes, it must be based on a hard-written policy known from everybody, as such as there will be no surprise.</p>
                        <p>That&#39;s what an evaluation form is. The document which measures how employees are doing in the company and if they fit in or not. </p>
                    </div>
                </div>
            </div>
    </section>
        

    <script src="../static/gallery.js"></script>

    <script src="../static/footer.js"></script>
</body>
</html>
