<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon-96x96.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Hospitality consultants based in Siem Reap and Pattaya. Your first stop to help you structure and run your hotel and restaurant efficiently.">
    <meta name="keywords" content="hospitality, consulting, consultant, hotel, restaurant, business generation, training, revenue management, SEO, website development, how-to setup your business, how-to, blog, hotel blog, restaurant blog, Cambodia, Siem Reap, Phnom Penh, Kep, Sihanoukville">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="KhreatiV.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success Consulting Services</title>
    
    <link rel="canonical" href="https://successconsultingasia.com/index.html">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">


</head>
<body>
    <div class="navbar">
        <a href="index.html" class="navbar-link" id="home">Home</a>
        <button class="openbtn"><img id="hamburger" src="../static/img/hamburger.png" alt="hamburger"></button>
        <div></div>
        <div></div>
        <div></div>
        <a href="#" id="closebtn" class="closebtn">X</a>
        <a href="hotel-consulting.html" class="navbar-link">Hotel Consulting</a>
        <a href="projects-development.html" class="navbar-link">Projects Development</a>
        <a href="finances-management.html" class="navbar-link">Revenue Management</a>
        <a href="contact.html" class="navbar-link" id="contact-link">Contact</a>
    </div>
    <div class="icons">
        <a href="https://www.facebook.com/Scs-Consulting-Services-102065865618974" class="icon"><img src="../static/img/logo-facebook.png" alt="facebook logo"></a>
        <a href="https://www.linkedin.com/company/success-consulting-asia/" class="icon"><img src="../static/img/logo-linkedin.png" alt="linkedin logo"></a>
        <a href="mailto:cambodia.admin@successconsultingasia.com" class="icon"><img src="../static/img/email-icon.png" alt="email logo"></a>
    </div>

<script>

    let openBtn = document.querySelector(".openbtn");
    openBtn.addEventListener("click", () => {
        showNav();
    });

    let closeBtn = document.querySelector(".closebtn");
    closeBtn.addEventListener("click", () => {
        hideNav();
    });

    function showNav() {
        document.querySelector(".navbar").style.width = "100vw";
        document.querySelector(".drpcontent").style.display = "block";
        document.querySelector(".openbtn").style.display = "none";
    }

    function hideNav() {
        document.querySelector(".navbar").style.width = "0vw";
        document.querySelector(".drpcontent").style.display = "none";
        document.querySelector(".openbtn").style.display = "block";
    }

</script>

    <section class="intro">
        <div class="bg-cont">
            <img class="bg-image" src="../static/img/hotel-light.webp" alt="background-picture">
            <img class="bg-image-small" src="../static/img/hotel-light-small.webp" alt="background-picture">
        </div>
        <div class="intro-cont">
            <img id="logo" src="../static/img/SCS logo.png" alt="logo">
                <div class="header-cont">
                    <p class="heading">Success Consulting Services</p>
                    <h2 class="main-h2">Hospitality Consultants</h2>
                    <p class="main-h2">SCS assists you with in all kind of Hotel and Restaurant projects.</p>
                    <p>We help you with your Financial Activities, Price Structure, Training,<br>Sales & Marketing, Concepts & Design and IT solutions.</p>
                </div>
                <div class="btn-container">
                    <a id="btn-quote" href="contact.html">Get your free assessment !</a>
                </div>
        </div>
    </section>

    <section class="services" id="services">
        <h1>Services</h1>
        <div class="grid_services">
            <div class="box" id="box2"><h2>Operations Management</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Let us assist you with improving your complete operations or with a specific department and get your operation more successful</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box4"><h2>Sales & Marketing</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Let our Marketing Professionals take care of your Social Marketing campaigns, your Social media presence, the extremely SEO for your online presence.</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box6"><h2>Executive Search</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Let us search for the right person with the right fit on Executive level for your organization. Our recruiters have been Hotel Managers, General Managers, Managing Directors and know by experience how to find the talent needed best suited for your needs.</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box8"><h2><span>Revenue Management</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Let us take the complex, time-consuming, and precise work of your rate settings and yielding out of your hands so your Management can focus on the operations part of your organization</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box10"><h2>Human Resources</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>We have an extended database with experienced and trained line staff, for that needed event as well as for long term placement.</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box12"><h2>Financial Services</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Our hospitality finance experts offer you professional Financial and Accounting Services varying from partly procedures up to complete audits.</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box14"><h2>Interim Services</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Hire our Management services for a specific time frame according to your needs.</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box16"><h2>IT Solutions</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Our experts can advise you on all your needs in IT, from software to hardware, including specialized hotel solutions.</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box" id="box18"><h2>Web Development</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Present locally and easily available, we are the ideal partner for your web development needs.</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
              <div class="box" id="box18"><h2>Internet Security</h2>
                <div id="grad1"></div>
                <div id="grad2"></div>
                <p>Our experts can guarantee a total protection on your IT systems</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
        </div>
    </section>

    <div class="btn-container">
        <a id="btn-quote" href="contact.html">Get your free assessment !</a>
    </div>

    <section class="how">
        <h2>How does it work ?</h2>
        <div class="grid-how">
            <div class="grid-how-img">
                <img src="../static/img/reshot-icon-finance.png">
            </div>
            <div class="grid-how-text">
                <h3>1. Get an assessment</h3>
                <p>It always start with an evaluation of the perfomances of your property, procedures, staff, and many others parameters. We then, generate a report with the Pros and Cons and what can be ameliorated to achieve the <strong>best productivity</strong> and results</p>
            </div>
            <div class="grid-how-text">
                <h3>2. Planning strategies</h3>
                <p>Based on the <strong>initial assessment</strong>, our expert will advise you on the strategies to put in place, to achieve your goals. Taking into account every aspect of the administration of a hotel, from staff management to the way in which bookings are made, along with revenue Management, marketing strategies and the positioning of the hotel in the market</p>
            </div>
            <div class="grid-how-img">
                <img src="../static/img/reshot-icon-creativity.png">
            </div>
            <div class="grid-how-img">
                <img src="../static/img/reshot-icon-presentation.png">
            </div>
            <div class="grid-how-text">
                <h3>3. Implement changes</h3>
                <p>Having established the course of action, it is necessary to ensure that each of the components involved in the operations of your hotel or tourist establishment are up-to-date with new changes. During this stage, we will instruct both staff members and the owners themselves, in order to achieve the cohesion we seek for the purpose of adapting to the interests of the project.</p>
            </div>
            <div class="grid-how-text">
                <h3>4. Monitor the results</h3>
                <p>Now that the objectives are clear, and all the staff and other members of the hotel ecosystem have been informed, the key moment arrives: the implementation, where we will put into practice each new measure that we have adopted. Subsequently, we will carry out periodic measurements in order to find out performance, analyse the results obtained and redefine the steps to take.</p>
            </div>
            <div class="grid-how-img">
                <img src="../static/img/reshot-icon-success.png">
            </div>

                    </div>
        
    </section>

    <section class="benefits">
        <h2>What are the benefits ?</h2>

    </section>
    <div class="btn-container">
        <a id="btn-quote" href="contact.html">Get your free assessment !</a>
    </div>

    <section class="pictures-section" id="pictures-section">
    
        <div class="grid_pictures">
            <div class="pics" id="pic-1"><img src="../static/img/robert-collins-QyqVAt9xw2I-unsplash.webp" alt="Robert Collins photo"></div>
            <div class="pics" id="pic-2"><img src="../static/img/resized_steffen-b-qDZ-Xd8dX6w-unsplash.webp" alt="Stephen B photo"></div>
            <div class="pics" id="pic-3"><img src="../static/img/resized_the-anam-_twiIcIsp2s-unsplash.webp" alt="Annam Hoi An photo"></div>
            <div class="pics" id="pic-4"><img src="../static/img/resized_sara-dubler-Koei_7yYtIo-unsplash.webp" alt="Sarah Dubler Ngo photo"></div>
            <div class="pics" id="pic-5"><img src="../static/img/vicky-t-EY3tC81nFt0-unsplash.webp" alt="Vicky T photo"></div>
            <div class="pics" id="pic-6"><img src="../static/img/resized_alexander-kaunas-G6eXUCi8JgA-unsplash.webp" alt="Alexander Kaunas photo"></div>
            <div class="pics" id="pic-7"><img src="../static/img/resized_brooke-lark-kXQ3J7_2fpc-unsplash.webp" alt="Brooke Lark photo"></div>
            <div class="pics" id="pic-8"><img src="../static/img/resized_charlie-costello-YVMINsxTIKY-unsplash.webp" alt="Charlie Costello photo"></div>
            <div class="pics" id="pic-9"><img src="../static/img/resized_christian-lambert-diYY2TMBY5g-unsplash.webp" alt="Christian Lambert photo"></div>
            <div class="pics" id="pic-10"><img src="../static/img/resized_dave-photoz-Ksrmm0EHdgw-unsplash.webp" alt="Dave Photoz photo"></div>
            <div class="pics" id="pic-11"><img src="../static/img/resized_jess-torre-H7TGM7Sx0o4-unsplash.webp" alt="Jess Torre photo"></div>
            <div class="pics" id="pic-12"><img src="../static/img/resized_rhema-kallianpur-uocSnWMhnAs-unsplash.webp" alt="Rhema Kallianpur photo"></div>
            <div class="pics-s" id="pic-2-1"><img src="../static/img/img-small/resized_robert-collins-QyqVAt9xw2I-unsplash.webp" alt="Robert Collins photo"></div>
            <div class="pics-s" id="pic-2-2"><img src="../static/img/img-small/resized_resized_steffen-b-qDZ-Xd8dX6w-unsplash.webp" alt="Stephen B photo"></div>
            <div class="pics-s" id="pic-2-3"><img src="../static/img/img-small/resized_resized_the-anam-_twiIcIsp2s-unsplash.webp" alt="Annam Hoi An photo"></div>
            <div class="pics-s" id="pic-2-4"><img src="../static/img/img-small/resized_resized_sara-dubler-Koei_7yYtIo-unsplash.webp" alt="Sarah Dubler Ngo photo"></div>
            <div class="pics-s" id="pic-2-5"><img src="../static/img/img-small/resized_vicky-t-EY3tC81nFt0-unsplash.webp" alt="Vicky T photo"></div>
            <div class="pics-s" id="pic-2-6"><img src="../static/img/img-small/resized_resized_alexander-kaunas-G6eXUCi8JgA-unsplash.webp" alt="Alexander Kaunas photo"></div>
            <div class="pics-s" id="pic-2-7"><img src="../static/img/img-small/resized_resized_brooke-lark-kXQ3J7_2fpc-unsplash.webp" alt="Brooke Lark photo"></div>
            <div class="pics-s" id="pic-2-8"><img src="../static/img/img-small/resized_resized_charlie-costello-YVMINsxTIKY-unsplash.webp" alt="Charlie Costello photo"></div>
            <div class="pics-s" id="pic-2-9"><img src="../static/img/img-small/resized_resized_christian-lambert-diYY2TMBY5g-unsplash.webp" alt="Christian Lambert photo"></div>
            <div class="pics-s" id="pic-2-10"><img src="../static/img/img-small/resized_resized_dave-photoz-Ksrmm0EHdgw-unsplash.webp" alt="Dave Photoz photo"></div>
            <div class="pics-s" id="pic-2-11"><img src="../static/img/img-small/resized_resized_jess-torre-H7TGM7Sx0o4-unsplash.webp" alt="Jess Torre photo"></div>
            <div class="pics-s" id="pic-2-12"><img src="../static/img/img-small/resized_resized_rhema-kallianpur-uocSnWMhnAs-unsplash.webp" alt="Rhema Kallianpur photo"></div>
    
        </div>
    
    </section>


<footer id="footer">
    <div class="khreativ">
        <h2>Made by</h2>    
        <p id="khreativ-title"><a href="https://hyperswiss.github.io/khreativ-website"><strong>KhreatiV</strong></a> Web Design</p>
        <p class="sr">Siem Reap</p>
        <br>
    </div>

    <div class="credits">
        <h2>Images Credits</h2>
        <div class="links">
            <div class="sublinks">
                <p><a href="https://unsplash.com/photos/YMOHw3F1Hdk">Nik Lanus</a></p>
                <p><a href="https://unsplash.com/photos/WyxqQpyFNk8">Giorgio Trovato</a></p>
                <p><a href="https://unsplash.com/photos/uocSnWMhnAs">Remha Kallianpur</a></p>
                <p><a href="https://unsplash.com/photos/rNN8leuLnU4">Fernando Santander</a></p> 
                <p><a href="https://unsplash.com/photos/n_IKQDCyrG0">Marten Bjork</a></p>
            </div>
            <div class="sublinks">
                <p><a href="https://unsplash.com/photos/n95VMLxqM2I">Cytonn Photography</a></p>
                <p><a href="https://unsplash.com/photos/nYGMnyZHR2I">Okeykat</a></p>
                <p><a href="https://unsplash.com/photos/YVMINsxTIKY">Charlie Costello</a></p>
                <p><a href="https://unsplash.com/photos/CH7JI7pwVcU">Mega Cesaria</a></p>
            </div>
            <div class="sublinks">
                <p><a href="https://unsplash.com/photos/EY3tC81nFt0">Vicky T</a></p>
                <p><a href="https://unsplash.com/photos/vcu-OZBxxRk">Ammie Ngo</a></p>
                <p><a href="#">xxx</a></p>
                <p><a href="https://unsplash.com/photos/_dYoARMMtQw">Nick Fewings</a></p>
            </div>
        </div>
    </div>
    <div class="icons-footer">
        <a href="https://www.facebook.com/Scs-Consulting-Services-102065865618974" class="icon-social"><img src="../static/img/logo-facebook.png" alt="facebook logo"></a>
        <a href="https://www.linkedin.com/company/success-consulting-asia/" class="icon-social"><img src="../static/img/logo-linkedin.png" alt="linkedin logo"></a>
        <a href="mailto:cambodia.admin@successconsultingasia.com" class="icon-social"><img src="../static/img/email-icon.png" alt="email logo"></a>
    </div>

</footer>


</body>
</html>
