<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SCS Consulting Services</title>
    <meta name="description" content="Asia hospitality consultants">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/scs-style.css">
</head>
<body>
    <section id="first-page">
        <div class="wrapper">
            <img class="bg-image" src="../img/pillow.webp" alt="hotel-room">
            <img class="bg-image-small" src="../img/pillow-small.webp" alt="hotel-room">
                <div class="content">
                <header>
                    <script src="../static/navbar.js"></script>
                </header>
                <div class="cont">   
                    <img id="logo" src="../img/SCS logo.png" alt="Logo">
                        <h1>Success Consulting Services</h1>
                        <h2>Hospitality Consultants</h2>
                        <p>SCS assists you with in all kind of Hotel and Restaurant projects.</p>
                        <p>We help you with your Financial Activities, Price Structure, Training,<br>Sales & Marketing, Concepts & Design and IT solutions.</p>
                        <p><img id="icon-arrow-down" src="../img/arrow-down.svg"></p>
                </div>
                </div>
        </div>
    </section>

    <section class="services" id="services">
        <h1>Services</h1>
        <div class="grid_services">
            <div class="box-number" id="box1">
                <img src="../img/usd-1-2.png" alt="background-image">
                <div id="grad1"></div>
                <div id="grad2"></div>
            </div>
            <div class="box" id="box2"><h2>financial</h2>
                <p>Business Plan</p>
                <p>Feasibility Study</p>
                <p>Price Structure</p>
                <p>Budgets</p>
                <p>Revenue Analysis</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box-number" id="box3">
                <img src="../img/room-2.png" alt="background-image">
                <div id="grad1"></div>
                <div id="grad2"></div>
            </div>
            <div class="box" id="box4"><h2><span>human</span><span> resources</span></h2>
                <p>Training</p>
                <p>Headcount</p>
                <p>Evaluation Forms</p>
                <p>Standard Operating Procedures</p>
                <p>Salary Grid</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box-number" id="box5">
                <img src="../img/hotel-keys-3 2.png" alt="background-image">                
                <div id="grad1"></div>
                <div id="grad2"></div>
            </div>
            <div class="box" id="box6"><h2><span>sales</span><span> & marketing</span></h2>
                <p>Marketing plans</p>
                <p>Strategy</p>
                <p>Promotions</p>
                <p>Revenue Management</p>
                <p>Social Medias</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box-number" id="box7">
                <img src="../img/hotel-banner-4 2.png" alt="background-image">
                <div id="grad1"></div>
                <div id="grad2"></div>
            </div>
            <div class="box" id="box8"><h2><span>concepts</span><span> & designs</span></h2>
                <p>F&B Concepts</p>
                <p>Rooms Designs</p>
                <p>In-room Services</p>
                <p>Menus Design</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
            <div class="box-number" id="box9">
                <img src="../img/handshake-5 4.png" alt="background-image">
                <div id="grad1"></div>
                <div id="grad2"></div>
            </div>
            <div class="box" id="box10"><h2>technology</h2>
                <p>Software Advising</p>
                <p>Website Design</p>
                <p>Online Security</p>
                <div id="grad3"></div>
                <div id="grad4"></div>
            </div>
        </div>
    </section>

    <script src="../static/gallery.js"></script>

        <script src="../static/footer.js"></script>

        <button onclick="topFunction()" id="myBtn">Back to top</button>
        <script>
            mybutton = document.getElementById("myBtn");
        
            window.onscroll = function() {scrollFunction()};
        
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display ="none";
                }
            }
        
            function topFunction() {
                document.body.scrollTop = 0 ;
                document.documentElement.scrollTop = 0 ;
            }
        </script>


</body>
</html>
