{% load static %}


<div class="navbar">
    <a href="{% url 'index' %}" class="navbar-link" id="home">Home</a>
    <button class="openbtn"><img id="hamburger" src="{% static 'img/hamburger.png' %}" alt="hamburger"></button>
    <div></div>
    <div></div>
    <div></div>
    <a href="#" id="closebtn" class="closebtn">X</a>
    <a href="{% url 'consulting' %}" class="navbar-link">Hotel Consulting</a>
    <a href="{% url 'projects' %}" class="navbar-link">Projects Development</a>
    <a href="{% url 'finances' %}" class="navbar-link">Revenue Management</a>
    <a href="{% url 'contact' %}" class="navbar-link" id="contact-link">Contact</a>
</div>
<div class="icons">
    <a href="https://www.facebook.com/Scs-Consulting-Services-102065865618974" class="icon"><img src="{% static 'img/logo-facebook.png' %}" alt="facebook logo"></a>
    <a href="https://www.linkedin.com/company/success-consulting-asia/" class="icon"><img src="{% static 'img/logo-linkedin.png' %}" alt="linkedin logo"></a>
    <a href="mailto:cambodia.admin@successconsultingasia.com" class="icon"><img src="{% static 'img/email-icon.png' %}" alt="email logo"></a>
</div>

<script>

    let openBtn = document.querySelector(".openbtn");
    openBtn.addEventListener("click", () => {
        showNav();
    });

    let closeBtn = document.querySelector(".closebtn");
    closeBtn.addEventListener("click", () => {
        hideNav();
    });

    function showNav() {
        document.querySelector(".navbar").style.width = "100vw";
        document.querySelector(".drpcontent").style.display = "block";
        document.querySelector(".openbtn").style.display = "none";
    }

    function hideNav() {
        document.querySelector(".navbar").style.width = "0vw";
        document.querySelector(".drpcontent").style.display = "none";
        document.querySelector(".openbtn").style.display = "block";
    }

</script>
