<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/favicon-96x96.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Hospitality consultants based in Siem Reap and Pattaya. Your first stop to help you structure and run your hotel and restaurant efficiently.">
    <meta name="keywords" content="hospitality, consulting, consultant, hotel, restaurant, business generation, training, revenue management, SEO, website development, how-to setup your business, how-to, blog, hotel blog, restaurant blog, Cambodia, Siem Reap, Phnom Penh, Kep, Sihanoukville">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="KhreatiV.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects Development</title>
    <link rel="canonical" href="https://successconsultingasia.com/index.html">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">




</head>

<body>
    <div class="navbar">
        <a href="index.html" class="navbar-link" id="home">Home</a>
        <button class="openbtn"><img id="hamburger" src="../static/img/hamburger.png" alt="hamburger"></button>
        <div></div>
        <div></div>
        <div></div>
        <a href="#" id="closebtn" class="closebtn">X</a>
        <a href="hotel-consulting.html" class="navbar-link">Hotel Consulting</a>
        <a href="projects-development.html" class="navbar-link">Projects Development</a>
        <a href="finances-management.html" class="navbar-link">Revenue Management</a>
        <a href="contact.html" class="navbar-link" id="contact-link">Contact</a>
    </div>
    <div class="icons">
        <a href="https://www.facebook.com/Scs-Consulting-Services-102065865618974" class="icon"><img src="../static/img/logo-facebook.png" alt="facebook logo"></a>
        <a href="https://www.linkedin.com/company/success-consulting-asia/" class="icon"><img src="../static/img/logo-linkedin.png" alt="linkedin logo"></a>
        <a href="mailto:cambodia.admin@successconsultingasia.com" class="icon"><img src="../static/img/email-icon.png" alt="email logo"></a>
    </div>

<script>

    let openBtn = document.querySelector(".openbtn");
    openBtn.addEventListener("click", () => {
        showNav();
    });

    let closeBtn = document.querySelector(".closebtn");
    closeBtn.addEventListener("click", () => {
        hideNav();
    });

    function showNav() {
        document.querySelector(".navbar").style.width = "100vw";
        document.querySelector(".drpcontent").style.display = "block";
        document.querySelector(".openbtn").style.display = "none";
    }

    function hideNav() {
        document.querySelector(".navbar").style.width = "0vw";
        document.querySelector(".drpcontent").style.display = "none";
        document.querySelector(".openbtn").style.display = "block";
    }

</script>
    <section id="first-page">
        <div class="wrapper">
            <div class="content">
                <div class="cont">   
                    <img src="../static/img/SCS logo.png" class="logo-top" alt="logo">
                    <h1>Projects Development</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="detail" id="detail_sales">
        <div class="skew-grid">
            <div class="skew-grid-item">
                <div class="media">
                    <img src="../static/img/placeholder.jpg" class="media-img" alt="decoration">
                    <div class="media-content">
                        <h2>Concept</h2>
                        <p>We help you to define and setup the concepts which will fit to your product</p>
                    </div>
                </div>
            </div>
            <div class="skew-grid-item">
                <div class="media">
                    <img src="../static/img/placeholder.jpg" class="media-img" alt="decoration">
                    <div class="media-content">
                        <h2>Design</h2>
                        <p>Get the proper design for your property, and have your visitors enjoy the ultimate hospitality experience</p>
                    </div>
                </div>
            </div>
        </div>
    <h1>Human Resources</h1>
        <div class="skew-grid">
            <div class="skew-grid-item">
                <div class="media">
                    <img src="../static/img/placeholder.jpg" class="media-img" alt="decoration">
                    <div class="media-content">
                        <h2>Headcount</h2>
                        <p>The right number of employees at the right place at the right time has always been a headache in an industry where you barely know in advance how many customers will show.</p>
                        <p>There&#39;s a way to limit this headache, we have this knowledge and will happily work that out for you.</p>
                    </div>
                </div>
            </div>
            <div class="skew-grid-item">
                <div class="media">
                    <img src="../static/img/placeholder.jpg" class="media-img" alt="decoration">
                    <div class="media-content">
                        <h2>Salary grid</h2>
                        <p>Salary grid is the document which defines how much every level of staff should be paid compared to the upper and lower levels. Employees salaries is something very sensitive. To avoid to create tensions among them (which would always reflect to the customer in the end), a salary grid which makes sense is the perfect tool. Once an employee reaches the highest possible salary at his level, it would be time to consider him/her for a promotion.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="skew-grid">
            <div class="skew-grid-item">
                <div class="media">
                    <img src="../static/img/placeholder.jpg" class="media-img" alt="decoration">
                    <div class="media-content">
                        <h2>Training</h2>
                        <p>Training is one of the most important part of the daily job of a hotelier. Making sure that every employee knows the procedures and standards, so that they feel confident enough</p>
                    </div>
                </div>
            </div>
            <div class="skew-grid-item">
                <div class="media">
                    <img src="../static/img/placeholder.jpg" class="media-img" alt="decoration">
                    <div class="media-content">
                        <h2>Evaluation forms</h2>
                        <p>As everything which implies changes, it must be based on a hard-written policy known from everybody, as such as there will be no surprise.</p>
                        <p>That&#39;s what an evaluation form is. The document which measures how employees are doing in the company and if they fit in or not. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pictures-section" id="pictures-section">
    
        <div class="grid_pictures">
            <div class="pics" id="pic-1"><img src="../static/img/robert-collins-QyqVAt9xw2I-unsplash.webp" alt="Robert Collins photo"></div>
            <div class="pics" id="pic-2"><img src="../static/img/resized_steffen-b-qDZ-Xd8dX6w-unsplash.webp" alt="Stephen B photo"></div>
            <div class="pics" id="pic-3"><img src="../static/img/resized_the-anam-_twiIcIsp2s-unsplash.webp" alt="Annam Hoi An photo"></div>
            <div class="pics" id="pic-4"><img src="../static/img/resized_sara-dubler-Koei_7yYtIo-unsplash.webp" alt="Sarah Dubler Ngo photo"></div>
            <div class="pics" id="pic-5"><img src="../static/img/vicky-t-EY3tC81nFt0-unsplash.webp" alt="Vicky T photo"></div>
            <div class="pics" id="pic-6"><img src="../static/img/resized_alexander-kaunas-G6eXUCi8JgA-unsplash.webp" alt="Alexander Kaunas photo"></div>
            <div class="pics" id="pic-7"><img src="../static/img/resized_brooke-lark-kXQ3J7_2fpc-unsplash.webp" alt="Brooke Lark photo"></div>
            <div class="pics" id="pic-8"><img src="../static/img/resized_charlie-costello-YVMINsxTIKY-unsplash.webp" alt="Charlie Costello photo"></div>
            <div class="pics" id="pic-9"><img src="../static/img/resized_christian-lambert-diYY2TMBY5g-unsplash.webp" alt="Christian Lambert photo"></div>
            <div class="pics" id="pic-10"><img src="../static/img/resized_dave-photoz-Ksrmm0EHdgw-unsplash.webp" alt="Dave Photoz photo"></div>
            <div class="pics" id="pic-11"><img src="../static/img/resized_jess-torre-H7TGM7Sx0o4-unsplash.webp" alt="Jess Torre photo"></div>
            <div class="pics" id="pic-12"><img src="../static/img/resized_rhema-kallianpur-uocSnWMhnAs-unsplash.webp" alt="Rhema Kallianpur photo"></div>
            <div class="pics-s" id="pic-2-1"><img src="../static/img/img-small/resized_robert-collins-QyqVAt9xw2I-unsplash.webp" alt="Robert Collins photo"></div>
            <div class="pics-s" id="pic-2-2"><img src="../static/img/img-small/resized_resized_steffen-b-qDZ-Xd8dX6w-unsplash.webp" alt="Stephen B photo"></div>
            <div class="pics-s" id="pic-2-3"><img src="../static/img/img-small/resized_resized_the-anam-_twiIcIsp2s-unsplash.webp" alt="Annam Hoi An photo"></div>
            <div class="pics-s" id="pic-2-4"><img src="../static/img/img-small/resized_resized_sara-dubler-Koei_7yYtIo-unsplash.webp" alt="Sarah Dubler Ngo photo"></div>
            <div class="pics-s" id="pic-2-5"><img src="../static/img/img-small/resized_vicky-t-EY3tC81nFt0-unsplash.webp" alt="Vicky T photo"></div>
            <div class="pics-s" id="pic-2-6"><img src="../static/img/img-small/resized_resized_alexander-kaunas-G6eXUCi8JgA-unsplash.webp" alt="Alexander Kaunas photo"></div>
            <div class="pics-s" id="pic-2-7"><img src="../static/img/img-small/resized_resized_brooke-lark-kXQ3J7_2fpc-unsplash.webp" alt="Brooke Lark photo"></div>
            <div class="pics-s" id="pic-2-8"><img src="../static/img/img-small/resized_resized_charlie-costello-YVMINsxTIKY-unsplash.webp" alt="Charlie Costello photo"></div>
            <div class="pics-s" id="pic-2-9"><img src="../static/img/img-small/resized_resized_christian-lambert-diYY2TMBY5g-unsplash.webp" alt="Christian Lambert photo"></div>
            <div class="pics-s" id="pic-2-10"><img src="../static/img/img-small/resized_resized_dave-photoz-Ksrmm0EHdgw-unsplash.webp" alt="Dave Photoz photo"></div>
            <div class="pics-s" id="pic-2-11"><img src="../static/img/img-small/resized_resized_jess-torre-H7TGM7Sx0o4-unsplash.webp" alt="Jess Torre photo"></div>
            <div class="pics-s" id="pic-2-12"><img src="../static/img/img-small/resized_resized_rhema-kallianpur-uocSnWMhnAs-unsplash.webp" alt="Rhema Kallianpur photo"></div>
    
        </div>
    
    </section>


    <footer id="footer">
        <div class="khreativ">
            <h2>Made by</h2>    
            <p id="khreativ-title"><a href="https://hyperswiss.github.io/khreativ-website"><strong>KhreatiV</strong></a> Web Design</p>
            <p class="sr">Siem Reap</p>
            <br>
        </div>
    
        <div class="credits">
            <h2>Images Credits</h2>
            <div class="links">
                <div class="sublinks">
                    <p><a href="https://unsplash.com/photos/YMOHw3F1Hdk">Nik Lanus</a></p>
                    <p><a href="https://unsplash.com/photos/WyxqQpyFNk8">Giorgio Trovato</a></p>
                    <p><a href="https://unsplash.com/photos/uocSnWMhnAs">Remha Kallianpur</a></p>
                    <p><a href="https://unsplash.com/photos/rNN8leuLnU4">Fernando Santander</a></p> 
                    <p><a href="https://unsplash.com/photos/n_IKQDCyrG0">Marten Bjork</a></p>
                </div>
                <div class="sublinks">
                    <p><a href="https://unsplash.com/photos/n95VMLxqM2I">Cytonn Photography</a></p>
                    <p><a href="https://unsplash.com/photos/nYGMnyZHR2I">Okeykat</a></p>
                    <p><a href="https://unsplash.com/photos/YVMINsxTIKY">Charlie Costello</a></p>
                    <p><a href="https://unsplash.com/photos/CH7JI7pwVcU">Mega Cesaria</a></p>
                </div>
                <div class="sublinks">
                    <p><a href="https://unsplash.com/photos/EY3tC81nFt0">Vicky T</a></p>
                    <p><a href="https://unsplash.com/photos/vcu-OZBxxRk">Ammie Ngo</a></p>
                    <p><a href="#">xxx</a></p>
                    <p><a href="https://unsplash.com/photos/_dYoARMMtQw">Nick Fewings</a></p>
                </div>
            </div>
        </div>
        <div class="icons-footer">
            <a href="https://www.facebook.com/Scs-Consulting-Services-102065865618974" class="icon-social"><img src="../static/img/logo-facebook.png" alt="facebook logo"></a>
            <a href="https://www.linkedin.com/company/success-consulting-asia/" class="icon-social"><img src="../static/img/logo-linkedin.png" alt="linkedin logo"></a>
            <a href="mailto:cambodia.admin@successconsultingasia.com" class="icon-social"><img src="../static/img/email-icon.png" alt="email logo"></a>
        </div>
    
    </footer>


</body>
</html>
